body {
  background-color: #222;
  color: #fff;
}

.message-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#thankyou {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-primary {
  margin-top: 20px;
  background-color: #ffc107;
  border-color: #ffc107;
  color: #222;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #ffa200;
  border-color: #ffa200;
  color: #fff;
}
