/* Set the body background color to black and the text color to white */
body {
  background-color: black;
  color: white;
}

/* Change the color of the buttons to white */
.btn-primary,
.btn-secondary {
  background-color: #222;
  border-color: #222;
  color: white;
}

/* Change the hover color of the buttons to gray */
.btn-primary:hover,
.btn-secondary:hover {
  background-color: gray;
  border-color: gray;
  color: white;
}

/* Add styles for the welcome text */
.welcome {
  font-size: 2rem;
  font-weight: bold;
}

/* Add styles for the ADM button */
.btn-secondary {
  margin-right: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Add styles for the car image */
.img-fluid {
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

/* Add styles for the container */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
